

<div class="card" style="border:double; border-color:cadetblue">
    <div class="card-body">
        <div style="float:left;width:135px;margin-top:-9px;">
            <h5 class="card-title">Appointment Type :</h5>
        </div>
        <div style="display: inline;float:left;width:85%;">
            <ng-container *ngFor="let appointmentlegend of appointmentServicesLegends">
                <label class="rad">
                    <i [ngStyle]="{'background-color':appointmentlegend.HashColorCode}"></i> {{appointmentlegend.Label}}
                </label>              
            </ng-container>
        </div>
    </div>
</div>


