@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
        margin-top: -30px;
    }

    .navheader-label {
        color: #c2c4cb;
        margin-top: -30px;
    }

    .navbarlabelcolor {
        color: #c2c4cb;
    }
}
.select-office {
    width: 78% !important;
    height: 30px !important;
    font-family: sans-serif !important;
    margin-left: 6px !important;
}
.select-entity {
    width: 45% !important;
    height: 30px !important;
    margin-left: 10px !important
}
.officeentity-label {
    color: #c2c4cb;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}


.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #fff;
    }

    .header li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }

        .header li a:hover,
        .header .menu-btn:hover {
            background-color: #f4f4f4;
        }

    .header .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
    }

    /* menu */

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

        .header .menu-icon .navicon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }

            .header .menu-icon .navicon:before,
            .header .menu-icon .navicon:after {
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }

            .header .menu-icon .navicon:before {
                top: 5px;
            }

            .header .menu-icon .navicon:after {
                top: -5px;
            }

    /* menu btn */

    .header .menu-btn {
        display: none;
    }

        .header .menu-btn:checked ~ .menu {
            max-height: 240px;
        }

        .header .menu-btn:checked ~ .menu-icon .navicon {
            background: transparent;
        }

            .header .menu-btn:checked ~ .menu-icon .navicon:before {
                transform: rotate(-45deg);
            }

            .header .menu-btn:checked ~ .menu-icon .navicon:after {
                transform: rotate(45deg);
            }

        .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
        .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
            top: 0;
        }

/* 48em = 768px */

@media (min-width: 770px) {
    .header li {
        float: left;
    }
        .header li a {
            padding: 20px 30px;
        }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}



#collapsibleMenu #logoutMenu {
    overflow: visible;
}

#logoutMenu a {
    padding: 9px 40px;
}

    #logoutMenu a:hover {
        background: #7761a7;
        color: white;
    }


@media (min-width: 320px) and (max-width: 767px) {

    .header ul {
        overflow: hidden;
    }

    .dx-template-wrapper{
        overflow: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .dx-template-wrapper{
        overflow: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
}

.navicon::after{
    background: white !important;
}

.navicon::before{
    background: white !important;
}

.navicon{
    background: white !important;
}

.navbar-brand {
    color: #c2c4cb;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}
