<div class="col-xs-12 col-sm-12 row" style="    margin-top: 10px;">
  <div class="col-xs-4 col-sm-4">
    <button (click)="onBackArrowClick()" class="btn btn-primary fab-button">
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>
  <div class="col-xs-8 col-sm-8 d-flex justify-content-end" style="margin-top: 10px;text-align: right;
  padding-right: 0;">


    <h4 *ngIf="viewType == 'search'"> Search Appointment</h4>
    <h4 *ngIf="viewType == 'edit'"> Edit Appointment</h4>
    <h4 *ngIf="viewType == 'create'"> Create Appointment</h4>
  </div>
</div>


<div class="col-xs-12 col-sm-12  card customCard" *ngIf="viewType == 'search'">
  <customer-appointments-search></customer-appointments-search>
</div>


<div class="col-xs-12 col-sm-12  card customCard" *ngIf="viewType == 'edit'">
  <create-appointment [selectedDateTimeSlote]="selectedDateTimeSlote" (closeEditAppointmentCall)="onBackClick()"></create-appointment>
</div>


<div class="col-xs-12 col-sm-12  card customCard" *ngIf="viewType == 'create'">
  <create-appointment (closeEditAppointmentCall)="onBackClick($event)"></create-appointment>
</div>