<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Today's Schedule</h3>
    </div>
    <div class="card" style="border:double; border-color:cadetblue">
        <div class="card-body">
            <span>
                <span *ngFor="let appointmentslots of scheduledAndAvailableAppointmentSlotsData">

                    <div class="cardSide">
                        <div style="align-content:flex-start; padding:5px">
                            <h5>
                                <small class="text-muted pull-right"><button *ngIf="appointmentslots.availableSlots > 0" class="buttonAvailable">Available</button></small>
                                <small *ngIf="appointmentslots.availableSlots == 0" class="text-muted pull-right"><button class="buttonDisabled">Booked!</button></small>
                                <span class="cPanel" data-toggle="collapse" [attr.data-target]="'#' +appointmentslots.toggleId" (click)="onExpand(appointmentslots)">
                                    <span [ngClass]="[!appointmentslots.isExpand ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down']"></span>

                                    {{appointmentslots.startDate  | date:'shortTime'}} -  {{appointmentslots.endDate  | date:'shortTime'}}
                                </span>
                            </h5><br />
                            <span class="collapse" id="{{appointmentslots.toggleId}}">
                                <span *ngIf="appointmentslots.customerAppointmentDetailsList.length > 0">
                                    <div class="user-block post" *ngFor="let scheduledAppointments of appointmentslots.customerAppointmentDetailsList">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8">
                                                <span class="username">
                                                    {{scheduledAppointments.CustomerDetails.FirstName}} {{scheduledAppointments.CustomerDetails.LastName}}
                                                </span>
                                                <span class="description">{{appointmentslots.startDate | date:'shortTime'}} -  {{appointmentslots.endDate | date:'shortTime'}}  today</span>

                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <span class="status">
                                                    <span style="cursor:pointer;" (click)='editAppointment(scheduledAppointments)'>Edit</span>
                                                </span>
                                                <span class="status">
                                                    <span style="cursor:pointer;" (click)='changeStatus(scheduledAppointments)'>Change Status</span>
                                                </span>
                                            </div>
                                        </div>
                                        <span class="description">
                                            <div *ngFor="let services of appointmentslots.AppointmentServices" class="chip"
                                                 [ngStyle]="{'background-color':services.HashColorCode}">
                                                {{services.Label}}
                                            </div>
                                        </span>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </div>
                    <br />
                </span>

            </span>
            <dx-popup class="popup"
                      [width]="400"
                      [height]="600"
                      [showTitle]="true"
                      title="Edit Customer Appointment"
                      [dragEnabled]="false"
                      [closeOnOutsideClick]="true"
                      [(visible)]="popupVisible">
                <div *dxTemplate="let data of 'content'">
                    <create-appointment [selectedDateTimeSlote]="selectedDateTimeSlote" (closeEditAppointmentCall)="closeEditAppointment()"></create-appointment>
                </div>
            </dx-popup>
            <dx-popup class="popup"
                      [width]="350"
                      [height]="220"
                      [showTitle]="true"
                      title="Change Appointment Status"
                      [dragEnabled]="false"
                      [closeOnOutsideClick]="true"
                      [(visible)]="popupChangeStatusVisible">
                <div *dxTemplate="let data of 'content'">
                    <div class="card" style="border:double; border-color:cadetblue">
                        <div class="card-body">
                            <dx-button text='Complete Appointment' (onClick)='updateAppointmentStatus("complete")' style="color:white; background-color:cadetblue; width:100%; ">
                            </dx-button><br />
                            <dx-button text='No-Show Appointment' (onClick)='updateAppointmentStatus("noshow")' style="color:white; background-color:darksalmon; width:100%;  ">
                            </dx-button><br />
                            <dx-button text='Cancel Appointment' (onClick)='updateAppointmentStatus("cancel")' style="color:white; background-color:darkgray; width:100%;  ">
                            </dx-button>
                        </div>
                    </div>
                </div>
            </dx-popup>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
    </div>
</div>