<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="WebAPIResources" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="LoggingDatabase" connectionString="Data Source=logging.db.dev.libertytax.net;Initial Catalog=AppointmentScheduling_Logging;Integrated Security=True;Application Name=AppointmentScheduling;Enlist=False;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <WebAPIResources>
    <add key="GetScheduledAppointmentsByOfficeAsync" value="api/AppointmentDetails/GetScheduledAppointmentsByOfficeAsync/" />
    <add key="GetForcibleAvailableSlots" value="api/AppointmentDetails/GetForcibleAvailableSlots/" />
    <add key="UpdateAppointmentStatus" value="api/AppointmentDetails/UpdateAppointmentStatus/" />
    <add key="GetDashBoardData" value="api/OfficeDetails/GetDashBoardData/" />
    <add key="GetDashboardMetricsByOfficeId" value="api/AppointmentDetails/GetDashboardMetricsByOfficeId/" />
    <add key="GetAvailableSlots" value="api/AppointmentDetails/GetAvailableSlots/" />
    <add key="GetAppointmentByStatus" value="api/AppointmentDetails/GetAppointmentByStatus/" />
    <add key="SaveCustomerDetails" value="api/CustomerDetails/SaveCustomerDetails" />
    <add key="GetAppointmentByConfirmationNumber" value="api/AppointmentDetails/GetAppointmentByConfirmationNumber/" />
    <add key="GetAppointmentByCustomerCMCData" value="api/AppointmentDetails/GetAppointmentByCustomerCMCData/" />
    <add key="GetScheduledAndAvailableSlotsByOfficeId" value="api/Dashboard/GetScheduledAndAvailableSlotsByOfficeId/" />
    <add key="GetOfficeDetailsByEntity" value="api/OfficeDetails/GetOfficeDetailsByEntity/" />
    <add key="GetAuxBusinessServicesByOfficeId" value="api/OfficeDetails/GetAuxBusinessServicesByOfficeId/" />
    <add key="GetOfficeOperationHoursByOfficeId" value="api/OfficeDetails/GetOfficeOperationHoursByOfficeId/" />
    <add key="UpdateOfficeOperationHours" value="api/OfficeDetails/UpdateOfficeOperationHours/" />
    <add key="GetEntityDetailsAsync" value="api/EntityDetails/GetEntityDetailsAsync/" />
    <add key="GetScheduledAppointmentsByCustomer" value="api/CustomerDetails/GetScheduledAppointmentsByCustomer?isCallFromPublicSite=false" />
    <add key="GetOfficeDatetimeAndTimeZone" value="api/OfficeDetails/GetOfficeDatetimeAndTimeZone/" />
  </WebAPIResources>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:AdfsMetadataEndpoint" value="https://auth.dev.libertytax.net/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:AudienceUri" value="https://localhost/AppointmentScheduling/" />
    <add key="SupportServicesUri" value="https://devwsinternal.libertytax.net/AppointmentSchedulingService/" />
    <add key="HubUri" value="https://hub.dev.libertytax.net/site/" />
    <add key="UserManagmentRootUrl" value="https://hub.dev.libertytax.net/Services/UserManagement/" />
    <!--AdfsTrustUrl same across all services-->
    <add key="AdfsTrustUrl" value="https://auth.dev.libertytax.net/adfs/services/trust/13/windowsmixed" />
    <!--<add key="AMSServiceAccountId" value="EnterpriseService@libtax.com" />
    <add key="AMSServiceAccountPassword" value="tech123$" />-->
    <add key="VersionNumber" value="1.0.0.0" />
  </appSettings>
  <system.web>
    <machineKey decryptionKey="E15DE0146447641D28EB2A7282D183BA2ED955D42D453AA0" validation="SHA1" validationKey="74AA8DDBF5E0EDC2E0D1201458A97358945A564ABE8D7264FD7A4BED34F567E62FC1BC2E0AAF4B5DEC40F1BDAFD22782F992BF82EE809EBA6D88047DEEBCDFB9" />
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="false" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="10240" requestLengthDiskThreshold="10240" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off" />
    <!--<sessionState timeout="20" mode="Custom" customProvider="MySessionStateStore">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="V-dev-app-011.libtax.com:6379,ssl=false" host="" accessKey="" ssl="true" />
      </providers>
    </sessionState>-->
  </system.web>
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Liberty.Authorization" publicKeyToken="1f73b0166dbf3726" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.612.1545.569" newVersion="17.612.1545.569" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      
      
      
      <remove name="WebDAV" />
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <remove name="FormsAuthentication" />
      <add name="WSFederationAuthenticationModule" type="Liberty.Authorization.TokenCache.Modules.SharedSessionFederationAuthenticationModule, Liberty.Authorization.TokenCache" preCondition="managedHandler" />
      <!--<add name="WSFederationAuthenticationModule" type="Liberty.Mvc.Authorization.WSFederation.FixedWsFederationAuthenticationModule, Liberty.Mvc.Authorization" preCondition="managedHandler"/>-->
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <remove name="WebDAVModule" />
    </modules>
    <!-- set x-ua-compatible here in case the meta tag is ignored -->
    <staticContent>
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="text/javascript" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <scheme name="deflate" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
        <basicAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
  <system.identityModel>
    <!-- ****************************************************************** -->
    <!-- ****************************************************************** -->
    <!-- This needs to be updated with the saveBootstrapContext attribute. -->
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris>
        <add value="https://localhost/AppointmentManagementSystem/" />
      </audienceUris>
      <!--<securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </securityTokenHandlers>-->
      <certificateValidation certificateValidationMode="None" />
      <caches>
        <sessionSecurityTokenCache type="Liberty.Authorization.TokenCache.SharedSessionSecurityTokenCache, Liberty.Authorization.TokenCache">
          <connection connectionString="V-dev-app-011.libtax.com:6379,abortConnect=false,syncTimeout=3000,ssl=false" expirationTimeSpan="00:20:00" />
        </sessionSecurityTokenCache>
      </caches>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://auth.dev.libertytax.net/adfs/services/trust">
          <!-- *********************************************************** -->
          <!-- *********************************************************** -->
          <!-- Token Signing Certificate Thumbprint -->
          <keys>
            <add thumbprint="97387e7965be7d188757825d4aa9ce8aeb821258" />
          </keys>
          <validIssuers>
            <!-- *********************************************************** -->
            <!-- *********************************************************** -->
            <!-- entityId from the Federation Metadata -->
            <add name="http://auth.dev.libertytax.net/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://auth.dev.libertytax.net/adfs/ls" realm="https://localhost/AppointmentManagementSystem/" requireHttps="true" />
      <!-- ***************************************************************** -->
      <!-- ***************************************************************** -->
      <!-- This needs to be added after the project is created. -->
      <serviceCertificate>
        <!-- *************************************************************** -->
        <!-- *************************************************************** -->
        <!-- Relying Party Token Encryption Thumbprint -->
        <certificateReference x509FindType="FindByThumbprint" findValue="97387e7965be7d188757825d4aa9ce8aeb821258" storeLocation="LocalMachine" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>
  <loggingConfiguration name="AppointmentScheduling" tracingEnabled="true" defaultCategory="AppointmentScheduling">
    <listeners>
      <add name="Database Trace Listener" formatter="Binary Log Message Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="LoggingDatabase" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" />
    </listeners>
    <formatters>
      <add name="Binary Log Message Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Web Samples">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>