<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="LoggingDatabase" connectionString="Data Source=logging.db.libertytax.net;Initial Catalog=AppointmentScheduling_Logging;Integrated Security=True;Application Name=AppointmentScheduling;Enlist=False;" providerName="System.Data.SqlClient" xdt:locator="match(name)" xdt:transform="replace"/>
  </connectionStrings>

  <appSettings>
    <add key="ida:AdfsMetadataEndpoint" value="https://auth.libertytax.net/FederationMetadata/2007-06/FederationMetadata.xml"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HubUri" value="https://hub.libertytax.net/site/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ida:AudienceUri" value="https://app1.libertytax.net/AppointmentScheduling/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SupportServicesUri" value="https://wsinternal.libertytax.net/AppointmentSchedulingService/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdfsTrustUrl"
         value="https://auth.libertytax.net/adfs/services/trust/13/windowsmixed"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserManagmentRootUrl"
        value="https://hub.libertytax.net/Services/UserManagement/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris xdt:Transform="Replace">
        <add value="https://app1.libertytax.net/AppointmentScheduling/" />
      </audienceUris>

      <certificateValidation certificateValidationMode="None"/>

      <caches>
        <sessionSecurityTokenCache type="Liberty.Authorization.TokenCache.SharedSessionSecurityTokenCache, Liberty.Authorization.TokenCache" xdt:Locator="Match(type)">
          <connection connectionString="V-PR-APP-025.libtax.com:6379,V-PR-APP-026.libtax.com:6379,V-PR-APP-027.libtax.com:6379,abortConnect=false,syncTimeout=3000,ssl=false"
                               expirationTimeSpan="00:20:00"
                               xdt:Transform="SetAttributes" />
        </sessionSecurityTokenCache>
      </caches>

      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry" xdt:Transform="Replace">
        <authority name="http://auth.libertytax.net/adfs/services/trust">
          <keys>
            <!-- Token Signing Certificate Thumbprint -->
            <add thumbprint="6c00e90c50827cfc914a330848f89a6e8d46894c" />
          </keys>
          <validIssuers>
            <!-- entityId from the Federation Metadata -->
            <add name="http://auth.libertytax.net/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  

  <system.identityModel.services>
    <federationConfiguration xdt:Transform="Replace">
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://auth.libertytax.net/adfs/ls/" realm="https://app1.libertytax.net/AppointmentScheduling/" requireHttps="true" />
      <serviceCertificate>
        <!-- Relying Party Token Encryption Thumbprint -->
        <certificateReference x509FindType="FindByThumbprint" findValue="6c00e90c50827cfc914a330848f89a6e8d46894c" storeLocation="LocalMachine" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>
</configuration>
